@tailwind base;
@tailwind components;
@tailwind utilities;


.hideScroll::-webkit-scrollbar {
    display: none;
}


.react-datetime-picker__calendar{
    border-radius: 5rem;
}
.react-datetime-picker__wrapper{
    border-radius: 5rem;
}