@tailwind base;
@tailwind components;
@tailwind utilities;


.hideScroll::-webkit-scrollbar {
    display: none;
      -ms-overflow-style: none;
    scrollbar-width: none;
}

#bookingDate > div{
    @apply border-none
}
#bookingDate input:invalid{
    @apply !bg-background
}

#bookingDate .react-datetime-picker__inputGroup__input:invalid{
    @apply bg-background
}

#bookingDate button:enabled:is(:hover,:focus) {
    @apply bg-default-200/25
}
#bookingDate button{
    border-radius: 6px;
}
#bookingDate .react-calendar__tile--hasActive{
    @apply bg-default-200/10
}

#bookingDate .react-calendar__tile--now{
    @apply bg-default-200
}

#bookingDate .react-calendar__tile--active{
    @apply bg-default
}

#bookingDate select option{
    @apply bg-default
}
#bookingDate select option:is(:checked){
    @apply bg-default-200
}
#fb-root > div.fb_dialog.fb_dialog_advanced > div > iframe:nth-child(3){
    @apply bg-background
}
#fb-root > div.fb_dialog.fb_dialog_advanced > div > iframe:nth-child(2){
    @apply bg-background
}